@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./common.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Inter Variable' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  overscroll-behavior: none;
  scrollbar-width: 0px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root{
    --primary-color: #181818;
    --primary-light-color: #1c1c1e;
    --primary-dark-color: #262626;
    --primary-contrast-color: #171717;
    --secondary-color: #a3a3a3;
    --secondary-light-color: #737373;
    --secondary-dark-color: #fafafa;
    --divider-color: #1f1f1f;
    --divider-light-color: #1f1f1f;
    --divider-dark-color: #27272a;
    --banner-info-color: #292524;
    --banner-warning-color: #854d0e;
    --banner-error-color: #991b1b;
    --tooltip-color: #f5f5f5;
    --popover-color: #1b1b1b;
    --method-get-color: #10b981;
    --method-post-color: #eab308;
    --method-put-color: #0ea5e9;
    --method-patch-color: #8b5cf6;
    --method-delete-color: #f43f5e;
    --method-head-color: #14b8a6;
    --method-options-color: #6366f1;
    --method-default-color: #737373;
    --status-info-color: #3b82f6;
    --status-success-color: #22c55e;
    --status-redirect-color: #f59e0b;
    --status-critical-error-color: #ef4444;
    --status-server-error-color: #f43f5e;
    --status-missing-data-color: #64748b;
    --editor-theme: "merbivore_soft";
    --editor-type-color: #a78bfa;
    --editor-name-color: #60a5fa;
    --editor-operator-color: #818cf8;
    --editor-invalid-color: #f87171;
    --editor-separator-color: #9ca3af;
    --editor-meta-color: #9ca3af;
    --editor-variable-color: #34d399;
    --editor-link-color: #22d3ee;
    --editor-process-color: #e879f9;
    --editor-constant-color: #a78bfa;
    --editor-keyword-color: #f472b6;
    --accent-dark-color: #4f46e5;
    --accent-color: #6366f1;
    --accent-contrast-color:#fff;
    color-scheme: dark;


    --tw-shadow-color:#666;
    --tw-ring-offset-shadow:#999;
    --tw-ring-shadow:#555;
    --tw-shadow:#333;
    --popover-color:#0c0a09;
}